/* Links utiles
-Paleta de colores: https://coolors.co/04151f-183a37-efd6ac-c44900-432534 */

/* -------------------------------------------------------------------- */
/* --------- Custom Properties ---------- */

:root {
	--primary-color: #c44900;
	--primary-alpha-color: rgb(196, 73, 0, 0.75);
	--secondary-color: #432534;
	--secondary-alpha-color: rgb(67, 37, 52, 0.75);
	--white-color: #fff;
	--gray-light-color: #f3f3f3;
	--gray-color: #ccc;
	--gray-dark-color: #666;
	--black-color: #000;
	--link-color: #c4a000;
	--title-color: #333;
	--text-color: #04101f;
	--white-alpha-color: rgb(255, 255, 255, 0.75);
	--black-alpha-color: rgb(0, 0, 0, 0.75);
	--font: "Raleway", sans-serif;
	--max-width: 1200px;
	--header-height: 5rem;
}

/* --------------------------------------------------------------------- */
/* --------- Reset ---------- */
html {
	box-sizing: border-box;
	font-family: var(--font);
	font-size: 16px;
	scroll-behavior: smooth;
	background: linear-gradient(
		to right,
		#43253435 0%,
		transparent 20%,
		transparent 70%,
		#43253435 100%
	);
	margin: 0;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	overflow-x: hidden;
	color: var(--text-color);
}

h1 {
	margin: 0;
	font-size: 2rem;
}

h2 {
	margin: 0;
	font-size: 1.5rem;
}

h3 {
	margin: 0;
	font-size: 1.25rem;
}

h4 {
	margin: 0;
	font-size: 1rem;
}

h5 {
	margin: 0;
	font-size: 0.85rem;
}

h6 {
	margin: 0;
	font-size: 0.7rem;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	line-height: 1.5;
}
/* --------------------------------------------------------------------- */
/* --------- Components ---------- */

/* ----- Contact Form ----- */
.contact-form {
	--form-ok-color: #4bb543b2;
	--form-error-color: #af03038f;
	margin: 2rem auto;
	padding: 1rem;
	max-width: 800px;
}

.contact-form > * {
	padding: 0.5rem;
	margin: 1rem auto;
	display: block;
	width: 100%;
}

.contact-form input,
.contact-form textarea {
	font-size: 0.85rem;
	font: var(--font);
}

.contact-form input {
	border: 0;
	border-bottom: thin solid var(--black-alpha-color);
	padding-left: 0;
}

.contact-form textarea {
	border: thin solid var(--black-alpha-color);
	resize: none;
}

.contact-form *::placeholder {
	color: var(--gray-dark-color);
}

.contact-form [required]:valid {
	border: thin solid var(--form-ok-color);
}
.contact-form [required]:invalid {
	border: thin solid var(--form-error-color);
}

.contact-form-error{
	margin-top: -1rem;
	font-size: 80%;
	background-color: var(--form-error-color);
	color: var(--white-color);
	transition: all 800ms ease;
}

.contact-form-error.is-active{
	display: block;
	animation: show-message 1s 1 normal 0s ease-out both;
}

.contact-form-response {
	padding: 1rem;
	width: 400px;
	text-align: center;
	background-color: var(--white-color);
}
/* 
.contact-form-response img{
	width: 4rem;
	height: 4rem;
	margin-top: 2rem;
} */

.modal#gracias:target {
	opacity: 1;
	pointer-events: auto;
}

@keyframes show-message {
	0% {
		visibility: hidden;
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	} 
}

@media screen and (min-width: 1024px) {
	.contact-form {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 1rem;
	}

	.contact-form input,
	.contact-form textarea {
		font-size: 1rem;
	}

	.contact-form textarea,
	.contact-form-loader{
		grid-column: span 2;
	}

	.contact-form input[type="submit"] {
		margin-left: 0;
		}
}

/* ----- Footer ------ */

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--secondary-color);
	color: var(--white-color);
	text-align: center;
	margin-top: 10rem;
	padding: 1rem;
	margin-bottom: var(--header-height);
}
footer a {
	color: var(--link-color);
	text-decoration: none;
	font-weight: bolder;
}
footer a:hover {
	color: var(--primary-color);
	transition: color 0.3s ease;
}

footer .social-media {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
}

footer .social-media img {
	width: 3rem;
	height: auto;
	margin: 0 1rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

footer .social-media img:hover {
	transform: scale(1.1);
}

/* ----- Loader ------ */

.loader-mate {
	width: 6rem;
	height: 6rem;
	animation: escalarMate 1.5s infinite ease-in-out;
    transition: opacity 0.3s ease-in-out;
}


@keyframes escalarMate {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
}

/* ----- Modal ------ */

.modal {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--black-alpha-color);
	opacity: 0;
	pointer-events: none;
	transition: all 1s ease;
}

.modal-content {
	position: relative;
}

.modal-close {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.modal-close img {
	width: 2.7rem;
	height: auto;
	cursor: pointer;
	border-radius: 50%;
	transition: all 0.2s ease-in-out;
}
.modal-close img:hover {
	width: 2.8rem;
	height: auto;
	border-radius: 45%;
	background-color: var(--primary-alpha-color);
}

.modal[id|="trabajo"]:target {
	opacity: 1;
	pointer-events: auto;
}

/* ----- HeroImage ----- */
.hero-image {
	background-image: var(--hero-image);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: var(--attachment);
}

.hero-image-opacity {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: var(--hero-opacity-color);
}

.hero-image-upper-title {
	font-size: 4vw;
	text-align: left;
	color: var(--hero-text-color);
	margin: 0px 3vw;
}

.hero-image-title {
	font-size: 7vw;
	text-align: left;
	color: var(--hero-text-color);
	margin: 1vh 3vw;
}

.hero-image-subtitle {
	font-size: 2.5vw;
	text-align: right;
	color: var(--hero-text-color);
	margin: 0px 3vw;
}

/* ----- Menu -----*/
.menu-btn {
	outline: thin solid var(--link-color);
	border: 0;
	cursor: pointer;
	padding: 0.3rem;
	background-color: var(--secondary-color);
	border-radius: 0.3rem;
}

.menu {
	position: fixed;
	left: 0;
	bottom: var(--header-height);
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--secondary-color);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease;
}

.menu.is-active {
	opacity: 1;
	pointer-events: auto;
}

.menu a {
	padding: 1rem;
	font-size: 1.5rem;
	font-weight: bolder;
	text-align: center;
	text-decoration: none;
	color: var(--link-color);
}

.menu a:hover {
	background-color: var(--primary-alpha-color);
	color: var(--black-alpha-color);
	transition: color 0.3s ease;
}

@media screen and (min-width: 1024px) {
	.menu {
		position: static;
		width: auto;
		flex-direction: row;
		opacity: 1;
		pointer-events: auto;
	}
	.menu a {
		padding: 0 1rem;
	}
	.menu a:hover {
		background-color: transparent;
		color: var(--primary-alpha-color);
		border-bottom: var(--primary-alpha-color) medium solid;
		transition: all 0.1s ease;
	}
	.menu-btn {
		display: none;
	}

	.footer {
		margin-bottom: 0;
	}
}

/* --------------------------------------------------------------------- */
/* --------- Utilities ---------- */

.btn {
	display: inline-block;
	padding: 0.5rem 1rem;
	background-color: var(--secondary-color);
	color: var(--white-color);
	border: thin solid var(--black-alpha-color);
	text-decoration: none;
	font-weight: bold;
	border-radius: 0.3rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

.btn:hover {
	border: thin solid var(--primary-color);
	background-color: var(--primary-color);
	color: var(--white-color);
	transform: scale(1.03);
	transition: all 0.2s ease;
}

.box-shadow-1 {
	box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
	border-radius: 10%;
}
.box-shadow-2 {
	box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.35);
	border-radius: 10%;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--max-width);
}

.none {
	display: none;
}

.opacity {
	opacity: 0.6;
}

.scale {
	transform: scale(1.15);
}

.section {
	padding: 4rem 2rem;
}

.section-title {
	border-top: thin solid var(--primary-color);
	border-bottom: thin solid var(--primary-color);
	margin: 2rem auto;
	padding: 0.5rem 1rem;
	width: 300px;
	text-align: center;
	color: var(--title-color);
}

.transition {
	transition: all 0.3s ease;
}
/* --------------------------------------------------------------------- */
/* --------- Site Styles ---------- */

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	text-align: left;
}

.about-text {
	padding: 2rem;
	color: var(--text-color);
}

.about-img {
	width: 100%;
	height: auto;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 1rem;
}

.header {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 999;
	padding: 1rem;
	width: 100%;
	height: var(--header-height);
	background-color: var(--secondary-color);
}

.header .container {
	height: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* .home{
	display: flex;
} */

.logo img {
	max-width: 7rem;
	height: auto;
	cursor: pointer;
}

.portfolio-card {
	position: relative;
	width: 100%;
	margin: 0 auto;
	display: block;
}

.portfolio-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.portfolio-card-info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1rem;
	background-color: var(--primary-alpha-color);
	color: var(--white-color);
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease-in-out;
}

.portfolio-card:hover .portfolio-card-info {
	opacity: 1;
	pointer-events: auto;
}

.portfolio-card-info > div {
	padding: 1rem;
	border: thin solid var(--white-color);
	width: 100%;
	height: 100%;
}

.portfolio .container a {
	margin-top: 1.5rem;
}

.portfolio-modal {
	padding: 1rem;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--white-color);
}

.portfolio-modal img {
	border-radius: 10%;
	margin-bottom: 1rem;
	height: 50vh;
	width: auto;
	object-fit: cover;
}

.portfolio-modal h3 {
	margin: 1rem auto;
	padding: 0.5rem 1rem;
	border-bottom: thin solid var(--primary-color);
	color: var(--title-color);
}

.portfolio-details {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-auto-rows: 2rem;
}

.portfolio-details b {
	color: var(--primary-color);
}

.quote-title {
	color: var(--title-color);
	font-family: "DM Serif Display", serif;
}

@media screen and (min-width: 1024px) {
	.about {
		display: grid;
		grid-template-columns: repeat(2, 50%);
		padding: 2rem;
	}

	.about > .section-title {
		grid-column: span 2;
	}
	.about-img {
		border-radius: 10%;
	}
	.about-text {
		padding: 2rem 4rem;
		font-size: 1.25rem;
		margin: 2rem;
	}

	.header {
		position: sticky;
		top: 0;
		padding: 1rem;
		height: calc(var(--header-height) + 0.5rem);
	}

	.portfolio > .container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}

	.portfolio .container > .section-title {
		grid-column: span 3;
	}

	.portfolio-modal {
		max-width: 800px;
		flex-direction: row;
	}

	.portfolio-info {
		margin-left: 1rem;
	}

	.portfolio-modal img {
		border-radius: 10%;
		width: 60%;
		height: auto;
		object-fit: cover;
	}

	.section-title {
		width: 400px;
		font-size: 2rem;
	}
}
